@import "../../variables.scss";

.editGen {
	background-color: white;

	&__title {
		font-size: 2rem;
		background: transparent;
		border: 1px solid transparent;
		display: block;
		height: auto;
		box-sizing: content-box;

		$paddingV: 0.1em;
		$paddingH: 0.25em;
		margin-top: -$paddingV;
		margin-right: -$paddingH;
		margin-bottom: 1rem;
		margin-left: -$paddingH;
		padding: $paddingV $paddingH;

		&:hover {
			background: $gray-200;
		}

		&:focus {
			background: white;
			border: 1px solid $primary;
		}
	}
}
