@import "~scss/variables";

$yPadding: 0.75rem;
$xPadding: 0.75rem;
$linkHeight: 1.3rem;
$linkLabelWidth: 3rem;

/*Child*/
.isNew {
	height: 100%;
	width: 100%;
}

.children {
	padding: $xPadding/2;
	background: white;

	&--universe {
		background: white;
	}
}

.child {
	&__header {
		//border-bottom: 1px solid currentColor;
		margin: 0.6rem 0 0.3rem 0;
	}
	&__desc {
		margin: 0 0 0.5rem 0;
		padding: 0 $xPadding;
		font-size: 0.75rem;
		line-height: 1.2em;
		overflow: hidden;
		-webkit-line-clamp: 3;
		display: -webkit-box;
		text-overflow: ellipsis;
		-webkit-box-orient: vertical;
	}
	&__title {
		font-weight: 500;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 1.3em;
		padding: 0 $xPadding;
		font-size: 1rem;
		margin: 0;
	}
	&__isa {
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 1.3em;
		padding: 0 $xPadding;
		font-size: 0.85rem;
		margin: 0.15rem 0 0 0;
		opacity: 0.8;
		font-weight: 400;
	}

	&__icon {
		flex-grow: 1;
		line-height: 1em;
		width: 100%;
		background-size: cover;
		background-position: center top;
		font-size: 4rem;
		min-height: 5rem;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		fill: currentColor;

		svg {
			margin-bottom: -0.5rem;
		}

		&.--video {
			height: 7rem;
			background: black;
			color: white !important;
		}
	}
}

.child-inner {
	cursor: default;
	position: relative;
	text-align: left;
	white-space: pre-wrap;
	text-overflow: ellipsis;
	hyphens: auto;
	//display:table;
	border-radius: $border-radius-sm;
	background-position: center;
	overflow: hidden;
	box-sizing: border-box;
	box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);

	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;
	padding-bottom: 0.25rem;

	&--link {
		cursor: pointer;

		&:hover,
		&:focus {
			text-decoration: none;
		}

		&:hover,
		&:focus,
		&:active,
		&:active:focus {
			opacity: 1;
			box-shadow: 0px 0px 5px !important;
		}
	}

	&.no-icon {
		height: auto;
	}

	&.empty {
		// so they don't look clickable
		background: transparent !important;
		color: inherit !important;
		white-space: pre-wrap;

		.icon {
			vertical-align: sub;
		}
	}

	&.addNew {
		opacity: 0.25;
		overflow: visible;

		.icon {
			font-size: 2rem !important;
			height: 2rem !important;
		}
		h1 {
			display: none;
		}

		&:hover,
		&.showAdd {
			opacity: 1;
		}

		&.showAdd {
			padding: 0;

			&:hover,
			&:focus {
				top: 0;
				left: 0;
				padding: 0;
			}
		}
	}
} //.child-inner

.linkLabel {
	position: absolute;
	left: $xPadding;
	padding: 0;
	z-index: 1;
	width: $linkLabelWidth;
	height: $linkHeight;
	text-align: center;
	transition-duration: 500ms;
	transition-property: width, height, border-radius;
	transition-timing-function: ease;
	cursor: pointer;
	overflow: hidden;
	background-color: #000;

	> div:first-child {
		position: absolute;
		margin: 0 !important;
		top: -25%;
		left: -25%;
	}

	.lottie {
		display: none;
	}
}

.linkLabel__spacer {
	display: inline-block;
	width: $linkLabelWidth + $xPadding * 0.5;
}

.deleteLink {
	display: block;
	position: absolute;
	top: 1rem;
	right: 0.25rem;
	z-index: 1;
}

.child {
	text-shadow: none;
	font-weight: normal;
	padding: $xPadding/2 !important;
	opacity: 0;

	&:not([class*="sortable-"]) {
		animation: example 500ms ease;
		animation-fill-mode: forwards;
	}

	&:hover,
	&:focus {
		color: inherit;
		background: inherit;
		text-decoration: none;
	}

	&a {
		text-decoration: none;
	}

	&:hover {
		.child__title {
			position: static;
		}
		.linkLabel {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: $border-radius-lg;
			text-align: center;

			> div:first-child {
				bottom: -40%;
				top: unset;
			}

			svg {
				display: block;
			}

			span {
				display: none;
			}
		}
	}
} //.child ---------------------------------------------
