
@import './variables.scss';

// BOOTSTRAP ------------------------------
@import "../../node_modules/bootstrap/scss/bootstrap";


// App global css--------------------------
@import "./colors.scss";
@import "./textures.scss";
@import './animations.scss';


// Bootstrap fixes ------------------------

.btn-outline {
	border-color: currentColor;
}

.dropdown-menu button, .form-check-label, .form-check-input, .nav-link{
	cursor: pointer;
}

button.nav-link{
	background-color: transparent;
	border:0;
}