
$textures: ["3px-tile",
"45-degree-fabric-dark",
"45-degree-fabric-light",
"60-lines",
"absurdity",
"ag-square",
"always-grey",
"arabesque",
"dimension",
"food",
"nestedBaconverse",
"nestedDoughnutverse",
"nestedLasagnaverse",
"nestedSharkverse",
"pineapple-cut",
"purty-wood",
"random-grey-variations",
"robots",
"shattered-dark",
"stardust",
"white-diamond-dark"];



@for $i from 1 through length($textures) {

	$name: nth($textures, $i);

	.#{$name} {
		background-image: url('./assets/patterns/#{$name}.png');
	} 
}

.purty-wood, .shattered-dark{
	background-blend-mode: color-burn;
}

