// 3rd party variable overrides
// ----------------------------------------
$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free-webfonts/webfonts";

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/sass-material-colors/sass/_sass-material-colors";

$totalNavHeight: ($navbar-brand-height + $navbar-brand-padding-y * 2)+ ($navbar-padding-y * 2);

$body-bg: material-color("grey", "900");
$body-color: #fff;
$yiq-text-dark: #000000;

$theme-colors: (
	"primary": material-color("grey"),
	"secondary": material-color("blue-grey"),
	"success": material-color("green"),
	"danger": material-color("red"),
	"warning": material-color("amber"),
	"info": material-color("cyan"),
	"light": material-color("grey", "100"),
	"dark": material-color("grey", "900")
);

$more-colors: (
	"wood": (
		"50": #f6ede0,
		"100": #e9d2b3,
		"200": #dbb480,
		"300": #cd964d,
		"400": #c28026,
		"500": #b76900,
		"600": #b06100,
		"700": #a75600,
		"800": #9f4c00,
		"900": #903b00,
		"a100": #ffd2bc,
		"a200": #ffb089,
		"a400": #ff8d56,
		"a700": #ff7c3c
	)
);

@mixin colored-button() {
	@include transition($btn-transition);
	cursor: pointer;

	&:hover,
	&.link:active {
		background-color: var(--hover-theme);
		color: inherit;
	}
}

$material-colors: map-merge($more-colors, $material-colors);

@each $name, $map in $material-colors {
	$primary-color: map-get($map, "900");

	$newMap: (
		"1000": darken($primary-color, 15%)
	);
	$map: map-merge($map, $newMap);

	$newNewMap: (#{$name}: $map);

	$material-colors: map-merge($material-colors, $newNewMap);
}

@mixin input-transparent() {
	background-color: transparent;
	border: 0;
	border-color: currentColor;
	box-shadow: 0px 0px 5px currentColor;
	color: inherit;
	opacity: 0.35;
	border-radius: 0.2rem;

	&::placeholder {
		color: inherit;
	}

	&:focus {
		opacity: 1;
		border: 1px solid currentColor;
		background-color: transparent;
		color: inherit;
		outline-color: currentColor;
		box-shadow: 0px 0px 10px currentColor;

		&::placeholder {
			opacity: 0.35;
		}
	}
}

@mixin dropdown() {
	position: relative;
	width: 100%;

	//ul
	&__dropdown {
		width: 100%;
		position: absolute;
		padding: 0;
		left: 0;
		top: 100%;
		z-index: 0;
		max-height: 75vh;
		overflow-y: auto;

		margin: 0;
		box-shadow: 0px 0px 5px var(--active-theme);
		background-color: var(--parent-theme);
		cursor: pointer;
	}

	//li
	&__option {
		padding: 0.5em 0.5em;
		line-height: 1.1em;
		//border-bottom: 1px solid var(--hover-theme);

		&:hover,
		&--selected {
			background-color: var(--hover-theme);
		}
	}
}
