@font-face{ 
	font-family: 'HocusPocus';
	src: url('../fonts/HOCUS POCUS MAGICBOLT.eot');
	src: url('../fonts/HOCUS POCUS MAGICBOLT.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/HOCUS POCUS MAGICBOLT.woff') format('woff'),
	     url('../fonts/HOCUS POCUS MAGICBOLT.ttf') format('truetype'),
	     url('../fonts/HOCUS POCUS MAGICBOLT.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'Lumos';
	src: url('../fonts/LUMOS.eot');
	src: url('../fonts/LUMOS.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/LUMOS.woff') format('woff'),
	     url('../fonts/LUMOS.ttf') format('truetype'),
	     url('../fonts/LUMOS.svg#webfont') format('svg');
}

#characterInfo{
	.delete-btn{
		clear:both;
	}
	.left-delete-btn{
		padding-left: 35px;
		.delete-btn{
			position:absolute;
			left: 15px;
		}
	}

	.container-pack{
		margin-bottom: 10px;
	}

	.i-ritual{
		background: url('../img/ritual.svg') no-repeat center;
		width:0.8em;
		display: inline-block;
		height: 1em;
		background-size: 100% 100%;
		margin: 0 .2em -0.1em .2em;

		@media print {
			visibility: visible;
			color: #000 !important;
			background: url('../img/ritual.svg') no-repeat center !important;
		}
	}
}

.printme{
	background: grey;
	-webkit-print-color-adjust: exact; 
	font-family: 'EB Garamond';
	font-size:13px;
	color: #000;

	&.darkmode{
		background:#000;
		color: #fff;

		.paper, #paper{
			background:#333;
		}
		.stat, .icon-container{
			color:#000;
		}
	}

	.container{
		width: 793.333px;
		padding:0;
	}

	.pin-bottom{
		position: absolute;
		bottom: 0px;
		right: 0px;
		width:100%;
		padding: 0 15px;
	}

	/*
	96 dpi

	A4 
	210 × 297 millimeters or 8.26772 × 11.69 inches =  
	793.333px x  1122px added 10 mm since off by 2 mm 
	------
	width: 793.333px;
	height: 1122px;

	US
	8.5 x 11
	816px x 1056px
	-----
	width: 816px;
	height: 1056px;
	*/
	#paper, .paper{
		width: 816px;
		height: 1056px;
		background:white;
		padding:30px;
		page-break-after: always;
		margin: 0 auto 0 auto;
		page-break-inside: avoid;

		&.landscape{
			height: 816px;
			width: 1056px;
			padding: 40px;
		}
	}

	.halfpage{
		height: 1056px/2;
	}

	label{
		font-size:10px;
		text-transform: uppercase;
		font-weight:normal;
		margin-bottom:0;
	}

	h1{
		font-size: 30px;
		margin:-5px 0 5px 0;
		line-height: 1.42857143em;
	}
	.no-padding{
		padding:0 !important;
	}

	.write-in{
		margin-top:20px;
		border-top:1px solid black;
		font-size:10px;
		text-transform: uppercase;
	}

	p{
		margin-bottom:5px;
	}
	.description p{
		line-height: 1em;
		text-indent: -1em;
		padding-left: 1em;
	}
	.title{
		font-family:Lumos;
		border-bottom:1px solid #333;
		margin-top:15px;
	}
	.title-sm{
		font-size:9px;
		text-transform: uppercase;
		border-bottom:1px solid #333;
		margin-bottom:0;
	}

	.push-top{
		.title-tag p{
			margin-top:0;
		}
	}

}

#charsheets{
	
	/* ------------ Basic Info ----------- */

	#name{
		font-family: "HocusPocus";
		margin:0;
		font-size:40px;
	}

	#classLevel{
		text-align:right;
		font-size:15px;
		margin-top:-5px;
		font-family: 'Lumos';
		margin-bottom: 0em;
	}

	#player.right{
		text-align:right;
	}


	#abilityScores td:first-child{
		text-align:right;
		padding-right: 5px;
	}
	
	.constitution label{
		font-size: 9px;
	}


	#stats{
		background:#bfbfbf !important;
		margin-right:0;
		padding-top:5px;
		padding-bottom: 5px;
	}

	#stats .col-xs-6{
		padding-right: 0;
	}

	#stats .stat-wrap{
		padding-left:5px;
		padding-right:5px;

	}

	.stat{
		background:white !important;
		text-align:center;
	}

	.stat label{
		margin: 0;
	}
	.stat label.smaller{
		font-size:9px;
	}

	.stat h1{
		margin: 0 0 -5px 0;
	    font-family: serif;
	    font-size: 25px;
	    text-align:center;
	}

	.stat p{
		margin: 0;
	}

	#health{
		margin-top:15px;
	}

	#hp{
		border: 1px solid #333;
		margin-left:0;
		text-align: center;
	}

	#hp > div:last-child{
		border-left:1px solid black;
	}

	#hp h1{
		margin:-5px 0 5px 0;
		text-align: center;
	}

	#hit-dice label{
		display:inline;
	}
	#hit-dice strong{
		font-size:16px;
	}

	#death-saves{
		text-align:center;
		padding:0;
		line-height: 1em;
	}
	#death-saves p, #death-saves label{
		margin:0;
	}
	#death-saves .fa{
		font-size: 18px;
	    top: -1px;
	    position: relative;
	    left: 1px;
	}
	.top-col{
		height:450px;
	}

	#equipment{
		position:relative;
	}

	#ac{
		background-image: url("../img/shield.png") !important;
		background-size: 42px 50px !important;
		background-repeat: no-repeat !important;
		width:42px;
		height: 60px;
		margin-top: -10px;
		float: right;
		position:static;
	}

	#ac h2{
		font-size: 16px;
		margin: -4px 0 0 28px;
	}

	#ac label{
		font-size: 8px;
	}

	#dc{
		background-image: url("../img/diamond.png") !important;
		background-size: 52px 52px !important;
		width:52px;
		height:52px;
		top:3px;
		right:15px;
	}

	#dc label{
		margin:8px 0 3px 0;
	}

	#spell-slots{
		margin-bottom:15px;
	}
	#spell-slots p{
		line-height: 1em;
	}

	#money {
		text-align: center;
		padding-right:15px;
	}
	#money div[class^="col-"]{
		padding: 0;
	}
	#money div[class^="col-"]:after{
	 content: "❍";
	  font-style: normal;
	  font-weight: normal;
	  text-decoration: inherit;
	  position: absolute;
	  font-size: 82px;
	  top: -30px;
	  left: 5%;
	  z-index: 1;
	}

	#money div:nth-child(1):after{
		color: #555  !important;
	}
	#money div:nth-child(2):after{
		color: #777  !important;
	}
	#money div:nth-child(3):after{
		color: #aaa  !important;
	}
	#money div:nth-child(4):after{
		color: #ccc  !important;
	}

	#money label{
		margin-top:55px;
		z-index:2;
		position: relative;
	}

	.stats-raw{
		padding: 0 10px;
		div[class*=col-]{
			padding: 0 5px;
		}
	}

	.close-col{
		padding: 0 10px;
		margin:0;

		&.close-row{
			margin:0 -15px;
		}

		&:first-child{
			padding-left: 15px;
		}

		&:last-child{
			padding-right: 15px;
		}

		> .row{
			margin: 0 -5px;
		}
	}
	.close-col div[class*=col-]{
		padding:0 5px;
	}

	/* ---------- UTIL --------- */
	

	.title-tag{
		text-align:center;

		&.left{
			text-align:left;
		}
	}

	.title-tag p{
		border-bottom:1px solid black;
		font-variant: small-caps;
		margin-bottom:-4px;
		margin-top: 0px;

		&.title{
			font-variant: inherit;
			margin-top:0;
		}
	}
	.title-tag label{
		font-size: 9px;
		border:0;
		line-height: 1em;
	}

	.full-height{
		height:100%;
	}


	.icon-container{
		position:absolute;
		text-align: center;
	}


	.icon-container h1{
		text-align:center;
		margin:-15px 0 0 0;
	}

	.circles{
		font-size:23px;
		vertical-align: sub;
	}

	.num{
		font-family: serif;
	}

	.passives{
		margin: 5px 0 5px 0;
		text-align: center;

		label{
			margin-left: 5px;
		}
	}
	.passives .item{
		max-width: 80px;
	}
	.passives .num{
		font-size: 1.5em;
		line-height:1em;
		display: block;
	}

	.spellbook{
		width:100%;
		line-height: 1em;
		padding-top: 0px;
		padding-left:5px;
		font-size: 0.9em;
		display:block;
		clear:both;

		ul{
			margin-bottom:0;
			padding-top:0;
		}
		.i-ritual{
			font-size:0.8em;
			margin-left:0.4em;
		}
	}
	.fullpage .spellbook{
		column-count: 4;

		ul{
		-webkit-column-break-inside: avoid; /* Chrome, Safari */
	    page-break-inside: avoid;           /* Theoretically FF 20+ */
	    break-inside: avoid-column;         /* IE 11 */
		}	
	}
	.long .spellbook{
		column-count: 2;
	}
	.spellbook ul:first-child{
		margin-top:0;
	}
	.spellbook ul{
		margin-top:1em;
	}
	.spellbook li{
		padding: 0.25em 0;
		-webkit-column-break-inside: avoid; /* Chrome, Safari */
	    page-break-inside: avoid;           /* Theoretically FF 20+ */
	    break-inside: avoid-column;         /* IE 11 */
	}
	.spellbook strong{
		text-transform: uppercase;
	}

	.main-content{
		margin-left:-110px;
	}

	ul{
		list-style: none;
		margin: -10px 0 20px;
		padding: 0;
	}

	.halfpage.bottom{
		padding-top: 30px;
	}

	.item-entry{
		min-height: 1.4em;
		margin-bottom: 5px;
	}
}

