.dropdown {
	position: relative;
	width: 100%;

	//ul
	&__menu {
		width: 100%;
		display: none;
		position: absolute;
		padding: 0;
		left: 0;
		top: 100%;
		z-index: 1;
		max-height: 7 * 30px;
		overflow: hidden;
		margin: 0;
		box-shadow: 0px 0px 5px var(--active-theme);
		background-color: var(--parent-theme);
		cursor: pointer;

		&.--open {
			display: block;
		}
	}

	//li
	&__option {
		padding: 0.5em 0.5em;
		line-height: 1.1em;
		min-height: 30px;
		width: 100%;
		text-overflow: ellipsis;
		overflow: hidden;
		list-style: none;
		//border-bottom: 1px solid var(--hover-theme);

		&:hover,
		&.--selected {
			background-color: var(--hover-theme);
		}
	}
}
