/* ------------------------------ IsASelect */
@import "../../variables.scss";

.isa {
	height: 100%;

	@include dropdown();

	&__input {
		@include input-transparent();
		width: 100%;
		height: 100%;
		padding: 5%;
		font-size: 1.4rem;
		z-index: 2;
		position: relative;
		resize: none;
		text-align: center;
		color: currentColor;

		word-wrap: break-word;
		word-break: break-all;
		overflow-y: auto;
		overflow-x: hidden;
		box-sizing: border-box;
		display: block;

		&::placeholder {
			font-size: 3rem;
			line-height: 100%;
			position: relative;
			width: 100%;
			top: 45%;
			transform: translateY(-50%);
		}
	}
}
