	/*
  	Flaticon icon font: Flaticon
  	Creation date: 28/08/2017 13:01
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-city:before { content: "\f100"; }
.flaticon-black-hole:before { content: "\f101"; }
.flaticon-asteroid:before { content: "\f102"; }
.flaticon-australia-map:before { content: "\f103"; }
.flaticon-south-america:before { content: "\f104"; }
.flaticon-spherical-shape-with-vertical-lines:before { content: "\f105"; }
.flaticon-moon-1:before { content: "\f106"; }
.flaticon-moon:before { content: "\f107"; }
.flaticon-nature:before { content: "\f108"; }
.flaticon-cell:before { content: "\f109"; }
.flaticon-dna-structure:before { content: "\f10a"; }
.flaticon-alien-with-aqualung:before { content: "\f10b"; }
.flaticon-molecule:before { content: "\f10c"; }
.flaticon-nature-1:before { content: "\f10d"; }
.flaticon-big-moon:before { content: "\f10e"; }
.flaticon-gas:before { content: "\f10f"; }
.flaticon-sunrise:before { content: "\f110"; }
.flaticon-solar-system:before { content: "\f111"; }
.flaticon-religion-cross:before { content: "\f112"; }
.flaticon-meteor-shower:before { content: "\f113"; }
.flaticon-atom:before { content: "\f114"; }
.flaticon-stars:before { content: "\f115"; }
.flaticon-sun:before { content: "\f116"; }
.flaticon-planet:before { content: "\f117"; }
.flaticon-nebula:before { content: "\f118"; }
.flaticon-africa-map:before { content: "\f119"; }
.flaticon-interface:before { content: "\f11a"; }
.flaticon-hay-rolls:before { content: "\f11b"; }
.flaticon-transport:before { content: "\f11c"; }
.flaticon-ufo:before { content: "\f11d"; }
.flaticon-map-2:before { content: "\f11e"; }
.flaticon-map-1:before { content: "\f11f"; }
.flaticon-map:before { content: "\f120"; }
.flaticon-map-3:before { content: "\f121"; }
.flaticon-castle:before { content: "\f122"; }
.flaticon-summer:before { content: "\f123"; }
.flaticon-technology-1:before { content: "\f124"; }
.flaticon-nature-2:before { content: "\f125"; }
.flaticon-technology-2:before { content: "\f126"; }
.flaticon-technology:before { content: "\f127"; }
.flaticon-yacht:before { content: "\f128"; }
.flaticon-palm-trees:before { content: "\f129"; }
.flaticon-desert:before { content: "\f12a"; }
.flaticon-hills:before { content: "\f12b"; }
.flaticon-solar-system-1:before { content: "\f12c"; }
.flaticon-mountains-1:before { content: "\f12d"; }
.flaticon-forest:before { content: "\f12e"; }
.flaticon-city-1:before { content: "\f12f"; }
.flaticon-nature-4:before { content: "\f130"; }
.flaticon-mountains:before { content: "\f131"; }
.flaticon-suburb:before { content: "\f132"; }
.flaticon-nature-3:before { content: "\f133"; }
.flaticon-planet-1:before { content: "\f134"; }
.flaticon-transport-1:before { content: "\f135"; }