@import "~scss/variables";

.isNew {
	height: 100%;
	width: 100%;
}

.isa {
	height: 100%;
	position: relative;

	&__input {
		resize: none;
		position: relative;
		z-index: 2;
		display: block;
	}

	&__addChild {
		@include input-transparent();
		width: 100%;
		height: 100%;
		padding: 5%;
		font-size: 1.4rem;
		z-index: 2;
		position: relative;
		resize: none;
		text-align: center;
		color: currentColor;
		word-wrap: break-word;
		word-break: break-all;
		overflow-y: auto;
		overflow-x: hidden;
		box-sizing: border-box;
		display: block;
	}

	&__addChild-placeholder {
		line-height: 0;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 100%;
		text-align: center;

		font-size: 3rem;
		opacity: 0.25;

		// when the input is focused
		.isa__addChild:focus + &,
		.isa__addChild:not(.empty) + & {
			opacity: 0;
		}
	}
}
