
$textures: ['darkness','ricepaper2','purty_wood','purty_wood@2X', 'ep_naturalblack', 'stardust'];


@for $i from 1 through length($textures) {

	$name: nth($textures, $i);

	.#{$name} {
		background-image: url('../../assets/patterns/#{$name}.png');
	} 
}