@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables";

h1,h2,h3,h4,h5{
  text-align:left;
}

@media print {
  .App-header, .navbar-nav, .status-bar, .sidebar, .nav-tabs {
    display:none!important;
  }
  body{
    padding:0!important;
  }
  .main{
    padding:0!important;
    margin:0!important;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar-nav > li > a{
  cursor: pointer;
}

.form-group-lg .glyphicon{
  line-height:42px;
  width:42px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;

  &:active,&:focus,&:active:focus{
    outline:0;
  }
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.title {
  .form-control{
    border-top:0;
    border-left:0;
    border-right:0;
    font-size:36px;
    box-shadow:none;
    padding: 5px 10px;
    height:auto;
  }
  .form-control-feedback{
    top:10px;
    height:50px;
  }
}

.clearable .form-control-feedback{
  cursor: pointer;
  pointer-events: auto;
  color:#999;
  z-index:4;

  &:hover{
    color: $brand-danger;
  }
}

.not-clearable .form-control-feedback{
  display: none;
}

.form-control:disabled{
  cursor: default;
}

.form-inline .Select{
  display: inline-table;
  .Select-input {
      position: absolute;
      top: 0
  }
  .Select-value-label {
      display: block;
  }
  .Select-value {
      position: relative;
      white-space: normal;
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
  font-size: inherit;
}

i.animated{
  animation-duration:2s;
}

.spinReverse {
  animation-name: spin-reverse;
  animation-timing-function:linear;
}

.spin {
  animation-name: fa-spin;
  animation-timing-function:linear;
}

i.spin{
  animation-duration: 3s;
}

i.spinReverse{
  animation-duration: 3s;
}

i.flash{
  animation-duration:6s;
}

i.pulse{
  animation-duration:1s;
}



@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(-359deg);
  }
}

@keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(-359deg);
  }
}

.status-bar{
  border-radius:0;
  padding-bottom:8px;
  border:0;
  height:52px;
  margin-bottom:0;
  position:fixed;
  z-index:2;
  width:100%;

  &.alert-default{
    background-color: #ddd;
  }

  .form-inline {
    margin-top: -7px;
  }
  .btn{
    margin-left: 5px;
  }
}

.main{
  margin-top:52px;
}

.delete-btn{
  border:0;
  
  &:hover,&:focus,&:active,&:focus:active{
    background-color: $brand-danger;
    color:#fff;
    cursor:pointer;
  }
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.no-margin{
  margin:0;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media screen and (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 102px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/* LOGIN */

.loginForm{
	max-width: 400px;
}