
$html5colorNames: "aliceblue","antiquewhite","aqua","aquamarine","azure","beige","bisque","black","blanchedalmond","blue","blueviolet","brown","burlywood","cadetblue","chartreuse","chocolate","coral","cornflowerblue","cornsilk","crimson","cyan","darkblue","darkcyan","darkgray","darkgreen","darkkhaki","darkmagenta","darkolivegreen","darkorange","darkorchid","darkred","darksalmon","darkseagreen","darkslateblue","darkslategray","darkturquoise","darkviolet","deeppink","deepskyblue","dimgray","dodgerblue","firebrick","floralwhite","forestgreen","fuchsia","gainsboro","ghostwhite","gold","goldenrod","gray","green","greenyellow","indianred","indigo","ivory","khaki","lavender","lavenderblush","lawngreen","lemonchiffon","lightblue","lightcoral","lightcyan","lightgoldenrodyellow","lightgray","lightgreen","lightpink","lightsalmon","lightseagreen","lightskyblue","lightslategray","lightsteelblue","lightyellow","lime","limegreen","linen","magenta","maroon","mediumaquamarine","mediumblue","mediumorchid","mediumpurple","mediumseagreen","mediumslateblue","mediumspringgreen","mediumturquoise","mediumvioletred","midnightblue","mintcream","mistyrose","moccasin","navajowhite","navy","oldlace","olive","olivedrab","orange","orangered","orchid","palegoldenrod","palegreen","paleturquoise","palevioletred","papayawhip","peachpuff","peru","pink","plum","powderblue","purple","red","rosybrown","royalblue","saddlebrown","salmon","sandybrown","seagreen","seashell","sienna","silver","skyblue","slateblue","slategray","snow","springgreen","steelblue","tan","teal","thistle","tomato","turquoise","violet","wheat","white","whitesmoke","yellow","yellowgreen";
$html5colors: #F0F8FF,#FAEBD7,#00FFFF,#7FFFD4,#F0FFFF,#F5F5DC,#FFE4C4,#000000,#FFEBCD,#0000FF,#8A2BE2,#A52A2A,#DEB887,#5F9EA0,#7FFF00,#D2691E,#FF7F50,#6495ED,#FFF8DC,#DC143C,#00FFFF,#00008B,#008B8B,#A9A9A9,#006400,#BDB76B,#8B008B,#556B2F,#FF8C00,#9932CC,#8B0000,#E9967A,#8FBC8F,#483D8B,#2F4F4F,#00CED1,#9400D3,#FF1493,#00BFFF,#696969,#1E90FF,#B22222,#FFFAF0,#228B22,#FF00FF,#DCDCDC,#F8F8FF,#FFD700,#DAA520,#808080,#008000,#ADFF2F,#CD5C5C,#4B0082,#FFFFF0,#F0E68C,#E6E6FA,#FFF0F5,#7CFC00,#FFFACD,#ADD8E6,#F08080,#E0FFFF,#FAFAD2,#D3D3D3,#90EE90,#FFB6C1,#FFA07A,#20B2AA,#87CEFA,#778899,#B0C4DE,#FFFFE0,#00FF00,#32CD32,#FAF0E6,#FF00FF,#800000,#66CDAA,#0000CD,#BA55D3,#9370D8,#3CB371,#7B68EE,#00FA9A,#48D1CC,#C71585,#191970,#F5FFFA,#FFE4E1,#FFE4B5,#FFDEAD,#000080,#FDF5E6,#808000,#6B8E23,#FFA500,#FF4500,#DA70D6,#EEE8AA,#98FB98,#AFEEEE,#D87093,#FFEFD5,#FFDAB9,#CD853F,#FFC0CB,#DDA0DD,#B0E0E6,#800080,#FF0000,#BC8F8F,#4169E1,#8B4513,#FA8072,#F4A460,#2E8B57,#FFF5EE,#A0522D,#C0C0C0,#87CEEB,#6A5ACD,#708090,#FFFAFA,#00FF7F,#4682B4,#D2B48C,#008080,#D8BFD8,#FF6347,#40E0D0,#EE82EE,#F5DEB3,#FFFFFF,#F5F5F5,#FFFF00,#9ACD32;



@mixin button-variant($color, $background, $border) {
	background-color: $background;
	border-color: $border;
	color: $color;

	&:focus,
	&.focus {
		background-color: darken($background, 10%);
		border-color: darken($border, 15%);
		color: $color;
	}
	&:hover {
		background-color: darken($background, 10%);
		border-color: darken($border, 12%);
		color: $color;
	}
	&:active,
	&.active, .open > .dropdown-toggle {
		background-color: darken($background, 10%);
		border-color: darken($border, 12%);
		background-image: none;
		color: $color;

		&:hover,
		&:focus,
		&.focus {
			background-color: darken($background, 17%);
			border-color: darken($border, 15%);
			color: $color;
		}
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&:hover,
		&:focus,
		&.focus {
			background-color: $background;
			border-color: $border;
			color: $color;
		}
	}

	.badge {
		color: $background;
		background-color: $color;
	}
}

@mixin darkBG($color, $background: null) {

	$contrast: adjust-color($color, $lightness: 55%);
	$slightly: adjust-color($color, $lightness: 5% );
	$btnBG: adjust-color($color, $lightness: 15%);

	lightness: lightness($color);
	background: $color $background;
	color: $contrast;

	&.child-inner{
		lightness: lightness($color);
		background: $color $background;
		color: $contrast;
	}

	.child-inner.link{
		box-shadow: 0px 0px 5px $btnBG;
	}

	&.child-inner.link{
		&:hover,&:focus,&:active,&:active:focus{
			opacity: 1;
			color: adjust-color($color, $lightness: 65% );
			background: $slightly $background;
		}
	}

	
	$btnBorder: adjust-color($color, $lightness: 13%);
	@include ancestors($btnBG, $contrast, $btnBorder, $background);
}

@mixin lightBG($color, $background: null) {
	lightness: lightness($color);
	background-color: $color;

	$color-adjust: -25%;
	@if (lightness($color) > 60) {
		$color-adjust: -45%;
	}
	@if (lightness($color) > 90) {
		$color-adjust: -55%;
	}

	$contrast: adjust-color($color, $lightness: $color-adjust);
	$btnBG: adjust-color($color, $lightness: -10%);
	$btnBorder: adjust-color($color, $lightness: -15%);

	color: $contrast;

	&.child-inner{
		lightness: lightness($color);
		background: $color $background;
		color: $contrast;
	}

	.child-inner.link{
		box-shadow: 0px 0px 5px $btnBG;
	}

	&.child-inner.link{
		&:hover,&:focus,&:active,&:active:focus{
			opacity: 1;
			color: adjust-color($color, $lightness: ( $color-adjust - 10% ) );
			background-color: adjust-color($color, $lightness: -5% );
		}
	}

	
	@include ancestors($btnBG, $contrast, $btnBorder, $background);
}


@mixin ancestors($bgColor, $text, $slightly, $bg: null){
	&.parent .dropdown.open{
		.dropdown-menu {
			background-color: $slightly;

			> li > a{
				&:hover{ 
					background: $bgColor $bg; 
				}
			}
		}
	}

	&.parent .btn.btn-default, &.btn.btn-default, #title > .btn.btn-default{
		@include button-variant($text, $bgColor, $slightly);
		background: $bgColor $bg;
		&:hover{ background-color: $slightly };
		&:focus{ outline:0; border-color: $bgColor; };
	}
}


@for $i from 1 through length($html5colors) {
	$color: nth($html5colors, $i);
	$name: nth($html5colorNames, $i);

	.#{$name}, .child .#{$name}{
		@if (lightness($color) > 49) {
			@include lightBG($color)
		}
		@else{
			@include darkBG($color)
		}

		&.fa, &.gi, &.glyphicon{
			background:none;
			color:$color;
		}
	}
}

@keyframes colorchange
{
	0%   {background: red;}
	25%  {background: yellow;}
	50%  {background: blue;}
	75%  {background: green;}
	100% {background: red;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
	0%   {background: red;}
	25%  {background: yellow;}
	50%  {background: blue;}
	75%  {background: green;}
	100% {background: red;}
}

.colorchange {
	animation: colorchange 10s infinite;
	-webkit-animation: colorchange 10s infinite;
	color:black;

	&.fa, &.gi, &.glyphicon{
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.rainbow, .child-inner.rainbow{
	color:black;
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(top left, magenta, orange, yellow, SpringGreen, cyan); /* For Safari 5.1 to 6.0 */
	background: -moz-linear-gradient(right bottom, magenta, orange, yellow, SpringGreen, cyan); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right bottom, magenta, orange, yellow, SpringGreen, cyan); /* Standard syntax (must be last) */

	&.fa, &.gi, &.glyphicon{
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	$btnBG: #00ff7f;
	@include ancestors($btnBG, white, lighten($btnBG, 5%));
}

.glow{
	-webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,0.86);
	-moz-box-shadow: 0px 0px 15px 2px rgba(255,255,255,0.86);
	box-shadow: 0px 0px 15px 2px rgba(255,255,255,0.86);
	@include lightBG(#FFFACD);

	&.fa, &.gi, &.glyphicon{
		box-shadow:none;
		color: #FFFACD;
		text-shadow: 0px 0px 15px 2px rgba(255,255,255,0.86);
	}
}

.ocean {
	$bg-color: #00BEA6;
	$background: linear-gradient($bg-color,#0057BE);

	@include darkBG($bg-color, $background);

	&.fa, &.gi, &.glyphicon{
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	//@include ancestors($btnBG, white, adjust-color(SpringGreen, lighten: 5%))
}

.sharkverse, .sharkverse.child-inner:hover{
	background-image:url('http://orteil.dashnet.org/nestedSharkverse.png');
}
.baconverse, .baconverse.child-inner:hover{
	background-color: maroon;
	color:white;
	background-image:url('http://orteil.dashnet.org/nestedBaconverse.png');
}
.doughnutverse, .doughnutverse.child-inner:hover{
	background-color: pink;
	background-image:url('http://orteil.dashnet.org/nestedDoughnutverse.png');
	color:#000;
	text-shadow: 1px 1px MOCCASIN;
}
.lasagnaverse, .lasagnaverse.child-inner:hover{
	background-image:url('http://orteil.dashnet.org/nestedLasagnaverse.png');
}