@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}




/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.input-group.no-input-addons{
  width:100%;

  .input-group-addon{
    display:none;
  }
}
.input-group.no-input-addons .form-control,
.input-group.no-input-addons .form-control:not(:first-child):not(:last-child)
.input-group.no-input-addons .form-control:first-child,
.input-group.no-input-addons .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.input-group .form-control{
  z-index:0;
}

.tab-content{
  padding-top:20px;
}

#thingView{
  padding:0px;

  .properties{
    max-width:600px;
  }

  #icons-preview{
    $gutter: 5px;
    font-size: 0.85em;
    margin-left: -$gutter;
    margin-right: -$gutter;

    .icon-wrap{
      padding: 0 5px 10px 5px;
    }

    .icon{
      $padding: 0px;
      text-align: center;
      padding: 7px $padding 3px $padding;
      position:relative;
      border-radius:5px;
      margin:0;
      background-color: #eee;

      .control-label{
        font-weight: normal;
        font-size:40px;
        margin: 0 0 5px 0;
        line-height: 1em;
        height:45px;
      }
      select{
        border:0;
        padding: 5px 3px;
        height: auto;
        font-size:0.95em;
        line-height: 1em;
        -webkit-appearance: none; /*removes original arrow*/
      }
    }
  }

  .submit-buttons{
    margin-top:30px;
  }
  
  .clear-button{
    color:#999;
    &:hover{
      background:white;
      color:#D0021B;
    }
  }
  #containsList{
    .delete-btn{
      position:absolute;
      right:0;
      top:0;

      &:hover,&:focus,&:active,&:focus:active{
        background:transparent;
        border:0;
        color: $brand-danger;
      }
    }
    .type{
      font-style:italic;
    }
    .type.thing{
      cursor:pointer;

      &:hover,&:focus,&:active,&:active:focus{
        background-color: $brand-primary;
        color:#fff;
      }
    }
    .form-group{
      padding-right:40px;
      position:relative;
    }
  }

  #preview ul{
    margin-bottom: 30px;
    margin-top: -15px;
  }
}//#thingView

#newThingButton{
  position:fixed;
  left: -20px;
  bottom: 15px;
  text-align:right;
  z-index:2;
 }

#thingSearch{
  margin-bottom:0;

  .list-group{
    margin-bottom: 85px;
  }

  .list-group-item{
     border-radius:0;
     margin-right:-1px;
  }

  .search{
    margin: 10px 10px 0 10px;
  } 
}

.Select-option i{
  vertical-align:middle;
  font-size:2em;
}

.icon-option{
  padding:5px;
  line-height: 1em;
  height:auto;
  color:#555;

  &:hover,&:active,&:focus,&.is-focused{
    background:aliceblue;
    color:#333;
    cursor: pointer;
  }

  i{
    vertical-align:middle;
    font-size:2em;
  }
}

.btn.btn-default.input-group-addon{
  background-color:white;

  &:hover{
    background-color: whiteSmoke;
  }
}

.Select-menu-outer {
  z-index: 999 !important;
}
.Select.is-open { 
  position: relative  !important; z-index: 1000 !important; 
}
.feedback-group{
  position:relative;
}
.has-success > .Select .Select-control{
  border-color: $brand-success;
}