@import "../../variables.scss";

#title .parent{
	border-color: currentColor;

	.btn{
		border-color: inherit;

		&.btn.transparent{

			&:not(:hover){
				background: transparent;
				border-color: transparent !important;
			}
		}
	}

	.immediate {
		width: 100%;
		text-align: left;
	}

	.fa-caret-left{
		font-size: $font-size-base;
	}

	&.btn{
		text-align: left;
		padding-left: 1em;
		padding-right: 1em;
	}
}