@import "../../variables.scss";

.fullscreen {
	height: 100vh;
	font-size: 6vw;
	margin: 0;

	.nested {
		color: white;
		font-family: "Press Start 2P", serif;

		&:hover {
			color: antiquewhite;
			background-color: #111;
		}
	}
	.dnd {
		color: darkred;
		font-family: "IM Fell English SC", serif;

		&:hover {
			color: saddlebrown;
			background-color: tan;
		}
	}
	.nested,
	.dnd {
		height: 100%;
		vertical-align: middle;
		text-align: center;
		position: relative;
		overflow: hidden;

		> div {
			margin-top: $totalNavHeight;
			padding: 2.5rem;
			z-index: 1;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			p {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

// large and lower
@media (max-width: map-get($grid-breakpoints, "lg")) {
	.fullscreen {
		font-size: 12vw;

		.nested,
		.dnd {
			height: 50%;

			> div {
				padding: 1rem;
			}
		}
	}
}
