/* Title.scss */
@import "../../variables.scss";

#Title {
	.btn,
	[class*="btn-bg-"] {
		transition: none !important;
	}
	.buttons-bar {
		padding: 0;
		line-height: 0;
		font-size: 1.1rem;
		flex-flow: row nowrap;
		justify-content: space-between;
		border-top: 1px solid currentColor;

		.right a {
			color: inherit;
		}

		.right .btn {
			color: inherit;

			&:not(:hover) {
				background: transparent;
			}
		}

		.right > :last-child > .btn,
		.right > .btn:last-child {
			border-bottom-right-radius: $border-radius-lg;
		}
	}

	width: 450px;
	max-width: 450px;

	h1,
	h2 {
		text-align: center;
	}

	.icon {
		height: 1em;
		width: 1em;
		padding: 0;
		vertical-align: top;
	}

	.icon-wrap {
		$fontSize: 6rem;
		$padding: 0.75rem;

		max-height: $fontSize + ($padding * 2);
		font-size: $fontSize;

		.btn {
			padding: $padding;
			overflow: hidden;
			color: inherit;
			text-align: center;
			font-size: $fontSize;
			height: $fontSize + ($padding * 2);
			width: $fontSize + ($padding * 2);

			&:not(:hover) {
				background: transparent;
				border-color: transparent;
			}

			.icon {
				margin: 0;
				padding: 0;
			}

			&.addNew {
				opacity: 0.25;

				&:hover,
				&.showAdd {
					opacity: 1;
				}
			}
		}
	}

	/* Up to large */
	@media (max-width: map-get($grid-breakpoints, "lg")) {
		font-size: 4vw;
		max-width: 100%;
		width: 100%;

		.resetBtn {
			float: none;
		}

		.icon-wrap,
		#name,
		h1,
		h2 {
			text-align: left;
		}

		.icon-wrap,
		.icon-wrap .btn {
			font-size: 2.75rem;
		}
	}

	h2 {
		margin: 0rem 0 0 0;
		font-size: 1rem;
	}
}

/* --------------- BEM ------------*/

#styleOptions {
	.swatch {
		width: 1.2rem;
		height: 1.2rem;
		border: 1px solid currentColor;
		cursor: pointer;
		position: relative;

		&.txt {
			background-color: currentColor;
		}

		i {
			position: relative;
			font-size: 0.9rem;
			top: -0.55em;
		}
	}

	#txtOptions {
		position: relative;
	}

	.dropdown-item {
		padding: 0.2em 1em;
	}

	a:hover {
		text-decoration: none;
	}
}

.title {
	&__input {
		margin: 0;
		line-height: 1em;
		font-size: 1.9rem;
		text-align: center;
		border: 0;
		outline: 0;
		background: transparent;
		color: currentColor;
		padding: 0;
		resize: none;
		overflow: hidden;
	}
	&__btn-collection {
		display: flex;
		flex-flow: row nowrap;
	}

	&__bar {
		margin: 0;
	}

	&__btn {
		@include colored-button();
		height: 100%;
		border-radius: 0;
		white-space: pre-line;
		font-size: 1em;
		line-height: 1.8;
		align-items: flex-start;
		border: 0;
		position: relative;
		padding-left: 0.35em;
		padding-right: 0.35em;
		display: inline-block;
		cursor: pointer;
		min-height: 2.7rem;
		color: inherit;
		background: transparent;

		&:hover,
		&:focus {
			border-color: currentColor;
		}

		&:focus,
		&:active {
			box-shadow: none;
			outline: 0;
		}
	}

	&__btn-icon {
		// helps to center icons like the swatches
		vertical-align: baseline;
	}
}

.settings {
	&__item {
		color: inherit;
		text-align: left;
	}
	&__menu {
		color: inherit;
		left: 8px !important;
	}
}
