i.animated {
	animation-duration: 2s;
}

.spinReverse {
	animation-name: spin-reverse;
	animation-timing-function: linear;
}

.spin {
	animation-name: fa-spin;
	animation-timing-function: linear;
}

i.spin {
	animation-duration: 3s;
}

i.spinReverse {
	animation-duration: 3s;
}

i.flash {
	animation-duration: 6s;
}

i.pulse {
	animation-duration: 1s;
}

@-webkit-keyframes spin-reverse {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(-359deg);
	}
}

@keyframes spin-reverse {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(-359deg);
	}
}

@keyframes fade-in-child {
	from {
		opacity: 0;
		transform: translateY(15px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.fadeInChild {
	@include fadeInChild();
}
