/* -------- Colors ---------- */

@import "./variables.scss";

/* create varibles */
body {
	@each $name, $map in $material-colors {
		@each $variant, $color in $map {
			--bg-#{$name}-#{$variant}: #{$color};
		}
	}
}

/* Material Colors */
@each $name, $map in $material-colors {
	@each $variant, $color in $map {
		$contrast: getContrastText($color);
		$hoverBG: slightlyOff($color);
		$activeBG: moreOff($color);

		.bg-#{$name}-#{$variant},
		.btn-bg-#{$name}-#{$variant} {
			--parent-theme: #{$color};
			--hover-theme: #{$hoverBG};
			--contrast: #{$contrast};
			--active-theme: #{$activeBG};

			background-color: $color;
			color: $contrast;
		}

		.btn-bg-#{$name}-#{$variant} {
			cursor: pointer;

			&:hover {
				background-color: $hoverBG;
				color: getContrastText($hoverBG);
			}

			&:active {
				background-color: $activeBG;
				color: getContrastText($activeBG);
			}
		}
	}
}

/* Apply these in a certain order so they take precendence */

.glow {
	-webkit-box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.86);
	-moz-box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.86);
	box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.86);
	//@include lightBG(#FFFACD);

	&.fa,
	&.gi {
		box-shadow: none;
		color: #fffacd;
		text-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.86);
	}
}
