


.fullscreen{
	height: 100vh;
	font-size: 5em;

	.nested{ 
		background-color: black;
		color: white;
		font-family: 'Press Start 2P', cursive;

		&:hover{
			color: antiquewhite;
			background-color: #111;
		}
	}
	.dnd{
		color: saddlebrown;
		background-color: burlywood;
		background-blend-mode: color-burn;
		font-family: 'IM Fell English SC', serif;

		&:hover{
			color: darkred;
			background-color: tan;
		}
	}
	.nested, .dnd{
		height: 100%;
		vertical-align: middle;
		text-align: center;
		position: relative;
		

		> div{
			padding-top:  50px;
			z-index:1;
			position:absolute;
	    top:0;
	    bottom:0;
	    left:0;
	    right:0;

			p{
				position: relative;
		    top: 50%;
		    transform: translateY(-50%);
			}
		}


	}
	
}



@media (max-width: 576px) { 
	.fullscreen{
		font-size: 4em;

		.nested, .dnd{
			height: 50%;
		}
	} 
}